<div class='content'>
  <h1 id='profile'>Profile</h1>

  <p>
    <strong><%= @user.full_name %></strong>
  </p>
  
  <br />

  <ul>
    <li>Location: <%= @user.location %> </li><br />
    <li>Bio: <%= @user.bio %> </li>
  </ul>

  <br />

  <%= link_to 'Edit profile', edit_user_path(@user) %>
  <p class='back-button'><%= link_to 'Home', root_path, class: 'link-button' %></p>
</div>